In [1]:
"'Nay,' said the naysayer."

"'Nay,' said the naysayer."

In [2]:
'''Boom!'''

'Boom!'

In [3]:
poem2 = '''I do not like thee, Doctor Fell.
    The reason why, I cannot tell.
    But this I know, and know full well:
    I do not like thee, Doctor Fell.
'''
print(poem2)

# 세 개의 단일 인용 부호 안에 여러 줄이 있는 경우, 문자열 끝에 들어 있는 라인 끝 문자가 보존된다.
# 또한, 위의 예시처럼 양쪽 끝에 공백이 있어도 보존된다.

I do not like thee, Doctor Fell.
    The reason why, I cannot tell.
    But this I know, and know full well:
    I do not like thee, Doctor Fell.

In [4]:
poem2

# 그치만 print()의 출력 결과와 대화식 인터프리터의 자동 출력 결과는 다르다.
# 수동으로 결과를 출력하기 때문이다. 그래서 출력결과 사이의 공백과 줄바꿈을 유용하게 추가 가능하다.

'I do not like thee, Doctor Fell.\n    The reason why, I cannot tell.\n    But this I know, and know full well:\n    I do not like thee, Doctor Fell.\n'

In [5]:
print(99, 'bottles', 'would be enough.')

99 bottles would be enough.

In [6]:
''

''

In [7]:
""

''

In [8]:
''''''

''

In [9]:
""""""

''

In [10]:
# 인용부호를 통해 빈 문자열을 만들 수 있다.

# 빈 문자열이 필요한 이유는?
# 빈 문자열을 이용하면 여러 문자열을 한 문자열로 합칠 때 문자열 사이에 공백을 입력할 수 있기 때문이다.

bottles = 99
base = ''
base += 'current inventory: '
base += str(bottles)
base

'current inventory: 99'

In [11]:
str(98.6)

# 문자열이 아닌 객체를 print()로 호출할 때, 내부적인 함수 str()을 사용
# 그리고 변수나 상수를 문자열 안에 삽입하는 문자열 보간을 할 때도 내부적으로 사용

'98.6'

In [12]:
palindrome = 'A man, \nA plan, \nA canal:\nPanama.'
print(palindrome)

# 여기서 \n은 개행을 뜻함

A man,
A plan,
A canal:
Panama.

In [13]:
print('\tabc')
print('a\tbc')

# \t는 탭을 뜻함

	abc
a	bc

In [14]:
'Release the kraken! ' + 'At once!'

'Release the kraken! At once!'

In [15]:
"My word! " "A gentleman caller!"

'My word! A gentleman caller!'

In [16]:
a = 'Duck.'
b = a
c = 'Grey Duck!'
a + b + c
print(a, b, c)

Duck. Duck. Grey Duck!

In [17]:
start = 'Na ' * 4 + '\n'
middle = 'Hey ' * 3 + '\n'
end = 'Goodbye.'
print(start + start + middle + end)

Na Na Na Na
Na Na Na Na
Hey Hey Hey
Goodbye.

In [18]:
name = 'Henny'
name.replace('H', 'P')
'P' + name[1:]

'Penny'

In [19]:
letters = 'abcdefghijklmnopqrstuvwxyz'
letters[:]

'abcdefghijklmnopqrstuvwxyz'

In [20]:
letters[20:]

'uvwxyz'

In [21]:
letters[12:15]

'mno'

In [22]:
letters[-3:]

'xyz'

In [23]:
letters[18:-3]

'stuvw'

In [24]:
letters[-6:-2]

'uvwx'

In [25]:
letters[::7]

'ahov'

In [26]:
letters[4:20:3]

'ehknqt'

In [27]:
# 끝 오프셋은 실제 오프셋 +1이다.

In [28]:
letters[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [29]:
letters[-50:]

'abcdefghijklmnopqrstuvwxyz'

In [30]:
letters[-100000:]

'abcdefghijklmnopqrstuvwxyz'

In [31]:
letters[-1001:-1000]

''

In [32]:
len(letters)

26

In [33]:
empty=''
len(empty)

0

In [34]:
todos = 'get gloves,get mask,give cat vitamins,call ambulance'
todos.split(',')

# 문자열 함수는 string.function(arguments) 형태로 입력
# 즉 문자열 이름을 입력하고 .을 입력한 후
# 함수이름을 입력한다. 그리고 함수에 필요한 인자도 입력

['get gloves', 'get mask', 'give cat vitamins', 'call ambulance']

In [35]:
todos.split()

# 구분자를 지정하지 않으면 split()는 문자열에 등장하는
# 공백 문자(줄바꿈, 스페이스, 탭)를 사용
# 또한 아무런 인자 없이 split함수를 호출할 때도 괄호()가 필요함

['get', 'gloves,get', 'mask,give', 'cat', 'vitamins,call', 'ambulance']

In [36]:
crypto_list = ['Yeti', 'Bigfoot', 'Loch Ness Monster']
crypto_string = ', '.join(crypto_list)
print('Found and signing book deals:', crypto_string)

# join() 함수는 문자열 리스트를 string.join(list) 형태로 결합

# 그러므로 lines 리스트를 각각 줄바꿈하여 하나의 문자열로 결합
# 하기 위해서는 '\n'.join(lines)를 입력

Found and signing book deals: Yeti, Bigfoot, Loch Ness Monster

In [37]:
poem = '''All that doth flow we cannot liquid name
Or else would fire and water be the same;
But that is liquid which is moist and wet
Fire that property can never get.
Then 'tis not cold that doth the fire put out
But 'tis the wet that makes it die, no doubt.'''

In [38]:
poem[:13]

'All that doth'

In [39]:
len(poem)

250

In [40]:
poem.startswith('All')

# startswith () 메서드는 문자열이 str으로 시작하는지 확인
# 선택적으로 지정된 인덱스 start 및 end와의 일치를 제한
# 형태는 str.startswith(str, beg=0,end=len(string))

# poem.startswith('All')
# 아래 결과와 동일

True

In [41]:
poem.endswith('That\'s all, folks!')

False

In [42]:
word = 'the'
poem.find(word)

73

In [43]:
poem.rfind(word)

214

In [44]:
poem.count(word)

3

In [46]:
poem.isalnum()

# isalnum() 메서드 구문
# str.isa1num() 형태이며 매개변수를 필요로 하지 않음

# 반환값이 적어도 하나의 문자열이고 경우
# 모든 문자는 문자 또는 숫자 참, 그렇지 않으면 False를 반환

False

In [47]:
setup = 'a duck goes into a bar...'

setup.strip('.')
# 양 끝에 .시퀀스를 삭제

'a duck goes into a bar'

In [49]:
setup.rstrip('.')
# 위와 동일
# rstrip은 오른쪽 시퀀스 삭제

'a duck goes into a bar'

In [50]:
setup.capitalize()
# 첫 번째 단어를 대문자로 설정

'A duck goes into a bar...'

In [52]:
setup.title()
# 모든 단어의 첫 글자를 대문자로 설정

'A Duck Goes Into A Bar...'

In [54]:
setup.upper()
# 글자 모두를 대문자로 설정

'A DUCK GOES INTO A BAR...'

In [56]:
setup.lower()
# 글자 모두를 소문자로 설정

'a duck goes into a bar...'

In [58]:
setup.swapcase()
# 대문자는 소문자로, 소문자는 대문자로 설정

'A DUCK GOES INTO A BAR...'

In [60]:
setup.center(30)
# 문자열을 지정한 공간에서 중앙에 배치

'  a duck goes into a bar...   '

In [62]:
setup.ljust(30)
# 문자열을 왼쪽에 배치

'a duck goes into a bar...     '

In [64]:
setup.rjust(30)
# 문자열을 오른쪽에 배치

'     a duck goes into a bar...'

In [66]:
setup.replace('duck', 'marmoset')

# 문자열의 일부를 대체하기 위해서는 replace()를 사용
# 인자로 바꿀 문자열, 대체할 새 문자열, 바꿀 문자열에 대한 횟수  ===> 순서로

'a marmoset goes into a bar...'

In [67]:
setup.replace('a', 'a famous ', 100)

'a famous  duck goes into a famous  ba famous r...'

In [69]:
setup = 'a duck goes into a bar...'

setup.replace('a', 'a famous', 100)

'a famous duck goes into a famous ba famousr...'