In [1]:
empty_list = []
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
big_birds = ['emu', 'ostrich', 'cassowary']
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael']

In [2]:
# list()함수로 빈 리스트를 할당할 수 있다.
another_empty_list = list()
another_empty_list

[]

In [3]:
list('cat')

['c', 'a', 't']

In [4]:
list('123')

['1', '2', '3']

In [5]:
# 튜플을 리스트로 변환
a_tuple = ('ready', 'fire', 'aim')
list(a_tuple)

['ready', 'fire', 'aim']

In [6]:
birthday = '1/6/1952'
birthday.split('/')

['1', '6', '1952']

In [7]:
splitme = 'a/b//c/d///e'
splitme.split('/')

['a', 'b', '', 'c', 'd', '', '', 'e']

In [8]:
splitme = 'a/b//c/d///e'
splitme.split('//')

['a/b', 'c/d', '/e']

In [9]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes[0]

'Groucho'

In [10]:
small_birds = ['hummingbird', 'finch']
extict_birds = ['dodo', 'passenger pigeon', 'Norwegian Blue']
carol_birds = [3, 'French hens', 2, 'turtledoves']
all_birds = [small_birds, extict_birds, 'macaw', carol_birds]

In [11]:
all_birds

[['hummingbird', 'finch'],
 ['dodo', 'passenger pigeon', 'Norwegian Blue'],
 'macaw',
 [3, 'French hens', 2, 'turtledoves']]

In [12]:
all_birds[0]

['hummingbird', 'finch']

In [13]:
all_birds[1]

['dodo', 'passenger pigeon', 'Norwegian Blue']

In [14]:
# extinct_birds 리스트의 첫 번째 항목을
# all_birds리스트에서 다음과 같이 두 인덱스를 사용해서 추출 가능
all_birds[1][0]

'dodo'

In [15]:
# [offset]으로 항목 바꾸기

marxes = ['Groucho', 'Chico', 'Harpo']
marxes[2] = 'Wanda'
marxes

['Groucho', 'Chico', 'Wanda']

In [16]:
# 슬라이스를 이용해 리스트의 서브시퀀스 추출

marxes = ['Groucho', 'Chico', 'Harpo']
marxes[0:2]

['Groucho', 'Chico']

In [17]:
marxes[::2]

['Groucho', 'Harpo']

In [18]:
marxes[::-2]

['Harpo', 'Groucho']

In [19]:
# 리스트를 반전 시킬 때
# 맨 마지막의 step 사용
marxes[::-1]

['Harpo', 'Chico', 'Groucho']

In [20]:
# append()는 리스트의 끝에 새 항목을 추가

marxes.append('Zeppo')
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo']

In [21]:
# extend()는 리스트를 다른 리스트와 병합

marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo', 'Karl']
marxes.extend(others)
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', 'Gummo', 'Karl']

In [22]:
# 또한 +=로도 병합 가능
# extend()와 += 같은 결과를 볼 수 있다.

marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo', 'Karl']
marxes += others
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', 'Gummo', 'Karl']

In [23]:
# append()를 사용하면 항목을 병합하지 않고
# others가 하나의 리스트로 추가

marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo', 'Karl']
marxes.append(others)
marxes

# 아래 결과와 같이 append는 요소를 추가하는 기능이기 때문에
# others라는 리스트 자체를 요소로 보기 때문에
# 아래와 같은 결과가 나왔다.

# 결론적으로 marxes에는 4개의 문자열과
# 두 문자열의 리스트가 존재

['Groucho', 'Chico', 'Harpo', 'Zeppo', ['Gummo', 'Karl']]

In [24]:
# append()함수는 리스트의 끝에 항목을 추가하지만
# insert()함수는 원하는 위치에 항목을 추가 할 수 있다.

marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
marxes.insert(3, 'Gummo')
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']

In [25]:
marxes.insert(10, 'Karl')
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo', 'Karl']

In [26]:
del marxes[-1]
marxes

# 오프셋으로 리스트의 특정 항목을 삭제하면
# 제거된 항목 이후의 항목들이 한 칸씩 앞으로 당겨진다.
# 그리고 리스트의 길이가 1 감소한다.

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']

In [27]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']
marxes[2]

'Harpo'

In [28]:
del marxes[2]

In [29]:
marxes

['Groucho', 'Chico', 'Gummo', 'Zeppo']

In [30]:
marxes[2]

'Gummo'

In [31]:
# del은 리스트 함수가 아니라 파이썬 구문이다.

# 즉, marxes[-2].del()을 수행할 수 없다.
# del은 할당(=)의 반대다.
# 이것은 객체로부터 이름을 분리

In [32]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']
marxes.remove('Gummo')
marxes

# 리스트에서 삭제할 항목의 위치를 모르는 경우 사용

['Groucho', 'Chico', 'Harpo', 'Zeppo']

In [33]:
# pop()은 리스트에서 항목을 가져오는 동시에
# 그 항목을 삭제

marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
marxes.pop()

# pop(0)은 리스트의 헤드(머리,시작) 부분을 반환
# pop() or pop(-1)은 리스트의 테일(꼬리, 끝)을 반환

'Zeppo'

In [34]:
marxes

['Groucho', 'Chico', 'Harpo']

In [35]:
marxes.pop(1)

'Chico'

In [36]:
marxes

['Groucho', 'Harpo']

In [37]:
# index() 항목 값의 리스트 오프셋을 알고 싶다면 사용

marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
marxes.index('Chico')

1

In [38]:
# 리스트에서 어떤 값이 존재여부 확인 in 사용

marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
'Groucho' in marxes

True

In [39]:
'Bob' in marxes

False

In [40]:
# 리스트에 같은 값이 여러 개 존재할 수 있다.
# 리스트에 값이 적어도 하나 존재하면 True를 반환한다.

words = ['a', 'deer', 'a', 'female', 'deer']
'deer' in words

True